parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#cascade="remove" on ManyToMany to Independent Entity#'
