.border-left-primary { border-left: 4px solid #3498db !important; }
.border-left-warning { border-left: 4px solid #f39c12 !important; }
.border-left-success { border-left: 4px solid #27ae60 !important; }
.border-left-info { border-left: 4px solid #2980b9 !important; }